In [ ]:
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks/Scraper_Interview')
os.getcwd()

'/content/drive/MyDrive/Colab Notebooks/Scraper_Interview'

In [ ]:
!pip install google-play-scraper

Collecting google-play-scraper
  Downloading https://files.pythonhosted.org/packages/1d/4c/55f501b3e41b4508f622f79ca2ea385b84bfe88f5e4b9a626cbdcab87496/google-play-scraper-0.2.1.tar.gz (49kB)
     |████████████████████████████████| 51kB 6.8MB/s
Building wheels for collected packages: google-play-scraper
  Building wheel for google-play-scraper (setup.py) ... done
  Created wheel for google-play-scraper: filename=google_play_scraper-0.2.1-cp37-none-any.whl size=22199 sha256=e4b9fa2da4046a92de8cec9eb0a351ecfe249153ace291ea96835a92157e16af
  Stored in directory: /root/.cache/pip/wheels/9a/fe/59/aaed9c7885041da68908f5e45f2796bf77696ac83874afd02c
Successfully built google-play-scraper
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-0.2.1

In [ ]:
from google_play_scraper import Sort, reviews_all
import pandas as pd

In [ ]:
#Because of the Google Play Store limit (up to 200 reviews can be fetched at a time), http requests are generated as long as the number of app reviews is divided by 200. 
#For example, targeting an app like Zomato makes tens of thousands of http requests.

In [ ]:
result = reviews_all(
    'com.application.zomato',
    sleep_milliseconds=0, # defaults to 0
    lang='en', # defaults to 'en'
    country='us', # defaults to 'us'
    sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT
    filter_score_with=None # defaults to None(means all score)
)
df = pd.DataFrame(result)[['userName','content','score']]
df.columns = ['User Name','Review','Rating']

df.set_index('User Name',drop = True)

                                                                   Review  Rating
User Name
Ishani Mehta            It's an amazing app and I've not had any issue...       4
David Paul              Doesn't have proper location guide and view, a...       2
Debarati Routh Soragan  Initially I never had to face any problems whi...       1
ALL ABOUT LIFE          WORST FOOD DELIVERY APP EVER. I WONDER THAT HO...       1
Sanjeev M Reddy         could improve on certain areas, once user keye...       4
...                                                                   ...     ...
kapoor raunak           My number wasn't reachable so rider left the p...       1
Urja Rajput             Due to some network issue my order got cancell...       1
Supriya Hegde           I loved zomato but off late, the app just won'...       3
Azim Turky              The best side for food delivery all are friend...       5
Aditi                   Very very poor service by team Zomato.. swiggy...       1

[4179 rows x 2 columns]

In [ ]:
df[(df['Rating'] == 5) | (df['Rating'] == 1)]

                   User Name  ... Rating
2     Debarati Routh Soragan  ...      1
3             ALL ABOUT LIFE  ...      1
5           Prosenjit Mondal  ...      1
6            Mayuresh Pendse  ...      1
7               M4GiC Gaming  ...      1
...                      ...  ...    ...
4172           Pradeep Kumar  ...      1
4174           kapoor raunak  ...      1
4175             Urja Rajput  ...      1
4177              Azim Turky  ...      5
4178                   Aditi  ...      1

[3261 rows x 3 columns]

In [ ]:
result1 = reviews_all(
    'com.application.zomato',
    sleep_milliseconds = 0, # defaults to 0
    lang = 'en', # defaults to 'en'
    country = 'us', # defaults to 'us'
    sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT
    filter_score_with = 1 # defaults to None(means all score)
)

df1 = pd.DataFrame(result1)[['userName','content','score']]
df1.columns = ['User Name','Review','Rating']

#df1.set_index('User Name',drop = True)

                                                                   Review  Rating
User Name
Debarati Routh Soragan  Initially I never had to face any problems whi...       1
ALL ABOUT LIFE          WORST FOOD DELIVERY APP EVER. I WONDER THAT HO...       1
Prosenjit Mondal        I take back the good stuff I said. Last night ...       1
Mayuresh Pendse         Worst service ever. Why would I order food ove...       1
M4GiC Gaming            Most of the times the order is not getting del...       1
...                                                                   ...     ...
Vinay Binny             Was terribly busy, skipped lunch, and ordered ...       1
bittu kumar             Zomato is a fraudulent platform.I have ordered...       1
ashwajeet kamble        Worst app, rider automatically cancled the ord...       1
Labonika Das            Extremely bad customer service they didn't del...       1
Hardik Vyas             I ordered from cake Walker on 7 -2 -20 payment...       1

[7761 rows x 2 columns]

In [ ]:
result2 = reviews_all(
    'com.application.zomato',
    sleep_milliseconds = 0, # defaults to 0
    lang = 'en', # defaults to 'en'
    country = 'us', # defaults to 'us'
    sort = Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT
    filter_score_with = 2 # defaults to None(means all score)
    )

df2 = pd.DataFrame(result2)[['userName','content','score']]
df2.columns = ['User Name','Review','Rating']

#df2.set_index('User Name',drop = True)

                                                              Review  Rating
User Name
David Paul         Doesn't have proper location guide and view, a...       2
Prateek Dwivedi    App may serve the purpose of food delivery nic...       2
Janet Ann          Initially zomato started off well providing cu...       2
jimmy mogal        For some reason last few days, the App refuses...       2
shubhang nayak     The new UI sucks. It was better before this up...       2
...                                                              ...     ...
Ashna Haridas      In the offer time lot of hotels closes the ord...       2
Vivek Sanghani                  Zomato Gold was much more exciting..       2
Marmoura Marmoura  I prefer the old version , the new version isn...       2
venu kumar         I am Zomato gold member , I don't hav a proper...       2
Nath Kenneth       I think it is a good app but it can't be used ...       2

[11144 rows x 2 columns]

In [ ]:
result3 = reviews_all(
    'com.application.zomato',
    sleep_milliseconds=0, # defaults to 0
    lang='en', # defaults to 'en'
    country='us', # defaults to 'us'
    sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT
    filter_score_with=3 # defaults to None(means all score)
)
df3 = pd.DataFrame(result3)[['userName','content','score']]
df3.columns = ['User Name','Review','Rating']

#df3.set_index('User Name',drop = True)

                                                             Review  Rating
User Name
rachana kulkarni  The gifting option with certain wish in the ap...       3
Abhinav Sharma    This app is just "okay" types to order food fr...       3
Remarkable KS     The price of the items are comparatively high,...       3
Nandini N         By miss the order has been placed.. I requeste...       3
Vaibhav Hadap     Something is wrong with the latest update. Aft...       3
...                                                             ...     ...
Lanchenba Oinam   There should be a cancellation button. The res...       3
Flick Twist       A nice work done. By zomato most of the food q...       3
Ayush Raj         Prices are quite higher then the actual prices...       3
Sumit Waghmode    zomato valets should be well trained. They sho...       3
Suprotik Basu     The app is fine. But delivery executives need ...       3

[4776 rows x 2 columns]

In [ ]:
result4 = reviews_all(
    'com.application.zomato',
    sleep_milliseconds=0, # defaults to 0
    lang='en', # defaults to 'en'
    country='us', # defaults to 'us'
    sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT
    filter_score_with=4 # defaults to None(means all score)
)
df4 = pd.DataFrame(result4)[['userName','content','score']]
df4.columns = ['User Name','Review','Rating']

#df4.set_index('User Name',drop = True)

                                                              Review  Rating
User Name
Ishani Mehta       It's an amazing app and I've not had any issue...       4
Sanjeev M Reddy    could improve on certain areas, once user keye...       4
Akash Kumar        Had a very bad experience for 2-3times. Your s...       4
Anushka Vashishth  It's great. Sometimes the app crashes due to l...       4
Vishaal g          Very nice app helps you order food from any pl...       4
...                                                              ...     ...
Sanjay Sinha                                  Delivery on right time       4
aayush jadhav                   Fast and good quality dilevery......       4
Rohan Agarwal      It s a good app and give very much better offe...       4
Nidhi Dhamuniya    Should have some more coupons on cash on deliv...       4
Rakesh Parida      Only drawback is all taxes and additional chan...       4

[1990 rows x 2 columns]

In [ ]:
result5 = reviews_all(
    'com.application.zomato',
    sleep_milliseconds=0, # defaults to 0
    lang='en', # defaults to 'en'
    country='us', # defaults to 'us'
    sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT
    filter_score_with=5 # defaults to None(means all score)
)
df5 = pd.DataFrame(result5)[['userName','content','score']]
df5.columns = ['User Name','Review','Rating']

#df5.set_index('User Name',drop = True)

                                                                  Review  Rating
User Name
Riti Adrija            I love this app. I get reliable reviews, can s...       5
Najla Shaikh           Without doubt more reliable and responsive tha...       5
Vanshika Cheedella     Amazing app, with fast delivery services. I al...       5
BIJOUX FERNS           The App is good the service is good but until ...       5
Priya Uttam Jhangiani  totally loved almost all the items that we hav...       5
...                                                                  ...     ...
A Google user          excellent service happy and love to use it mor...       5
Divya Haridas                  quick delivery and good customer service.       5
Rajvinder Shergill           food quality is very good delivered on time       5
Sarah Soufi                          very fast service and easy! amazing       5
Vinod Kumar            i think these is best platform which is provid...       5

[10746 rows x 2 columns]

In [ ]:
#len(result1 + result2 + result3 + result4 + result5)

36417